<h1>{{blog_header}}</h1>
<p>
    Owned by <a href="/user/profile/{{blog_user_id}}/">{{author}}</a>
</p>
<p>
    Created on {{blog_created}}
</p>
<p>
    {{{blog_description}}}
</p>
<p>
    <a href="/post/{{blog_user_id}}/{{blog_id}}/latest/">Show ten latest blog posts</a>.
</p>