<h1>{{title}}</h1>
{{#if blogs}}
    {{#each blogs}}
        <p>
            <a href="/blog/show/{{blog_user_id}}/{{blog_id}}/{{blog_url_slug}}/">{{blog_title}}</a>
        </p>
    {{/each}}
{{else}}
    <p>
        {{author}} does not have any blogs yet.
    </p>
{{/if}}