<h1>{{title}}</h1>
{{#if blog_pages}}
    <ul>
        {{#each blog_pages}}
            <li><a href="/cp/page/show/{{blog_id}}/{{blog_page_id}}/">{{blog_page_title}}</a> on blog
                <a href="/cp/blog/show/{{blog_id}}/">{{blog_name}}</a></li>
        {{/each}}
    </ul>
{{else}}
    <p>
        You do not have any blog pages on your blogs. You can <a href="/cp/page/create/">create one here</a>.
    </p>
{{/if}}