<h1>{{blog_header}}</h1>
<p>
    <a href="/cp/blog/update/{{blog_id}}/">Update Blog</a> |
    <a href="/cp/blog/delete/{{blog_id}}/confirm/">Delete Blog</a>
</p>
<h2>Meta Description:</h2>
<p>
    {{meta_desc}}
</p>
<h2>Blog Description:</h2>
<p>
    {{{blog_description}}}
</p>