<h1>{{title}}</h1>
<p>
    <a href="/cp/blog/update/{{blog_id}}/">Update Blog</a> |
    <a href="/cp/blog/delete/{{blog_id}}/confirm/">Delete Blog</a>
</p>
<p>
    {{{meta_description}}}
</p>
<p>
    {{{blog_description}}}
</p>