<h1>{{blog_header}}</h1>
<p>
    <form action="/cp/blog/update/{{blog_id}}/" method="post" id="update_form_action">
        <label for="title">Blog Title:</label><br/>
        <input type="text" name="title" id="title" value="{{blog_title}}" required/><br/>
        <label for="header">Blog Header:</label><br/>
        <input type="text" name="header" id="header" value="{{blog_header}}" required/><br/>
        <label for="url_slug">URL Slug:</label><br/>
        <input type="text" name="url_slug" id="url_slug" value="{{blog_url_slug}}" required/><br/>
        <label for="meta_desc">Meta Description:</label><br/>
        <textarea name="meta_desc" id="meta_desc" required>{{blog_meta_desc}}</textarea><br/>
        <label for="description">Blog Description:</label><br/>
        <textarea name="description" id="description" required>{{blog_description}}</textarea><br/>
        <input type="submit" id="create_blog_submit" value="Create Blog">
    </form>
</p>